# Mac Specific
.DS_Store

# Logs
logs/

# NetBeans
nbactions.xml

# IntelliJ IDEA
.idea/

# Nova
.nova/

# Classfiles
target/

# Maven
.mvn/


src/main/resources/banner.txt
src/main/resources/application.properties
src/main/java/com/milav/jaguar/database/manager/DBManager.java


# Emacs
.classpath
.settings/
.factorypath
