# Mac Specific
.DS_Store

# Logs
logs/

# NetBeans
nbactions.xml

# IntelliJ IDEA
.idea/

# Classfiles
target/

# Maven
.mvn/

application.properties
src/main/resources/application.properties

src/main/java/com/milav/jaguar/database/manager/DBManager.java
