<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name=
    "viewport">
    <meta content="" name="description">
    <title>
      Jaguar Dashboard
    </title><!-- Bootstrap CSS -->
    <link href=
    "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    rel="stylesheet">
    <link href="logo.png" rel="shortcut icon" type="image/jpg">
    <link href="logo.png" rel="apple-touch-icon" sizes="57x57">
    <style>
      @import url('https://rsms.me/inter/inter.css');

      a {
        color: #4b393a;
      }

      a:hover {
        color: #ffc107;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light"
    style="font-family: Inter, sans-serif;">
      <p>
         
      </p><img alt="" class="d-inline-block align-top" height="50"
      src="logo.png" width="50"> <a class="navbar-brand" href="/"
      style='margin-right: 0.25rem'> Jaguar</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile" id="profile">My
            Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout" id="logout">Log
            Out</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="col-lg-8 mx-auto p-3 py-md-5" style=
    "font-family: Inter, sans-serif;">
      <h1 style="font-weight: 300">
        Welcome to your Dashboard.
      </h1>
      <hr>
      <br>
      <div style=
      "border:1px solid #c6c7c8; padding: 15px; border-radius: 1px;">
        <h2 style="font-weight: 300" th:text="${greeting}">
        </h2><br>
        <h4 style="font-weight: 400">
          Would you like to
        </h4>
        <ul style="font-weight: 400;">
          <li>
            <h5>
              <a href="/editprofile">edit your profile?</a>
            </h5>
          </li>
          <li>
            <h5>
              <a href="/deleteaccount">blow up your account?</a>
            </h5>
          </li>
          <li>
            <h5>
              <a href="/logout">or sign out?</a>
            </h5>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
