<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta content="no-store" http-equiv="Cache-Control">
    <meta content="width=device-width, initial-scale=1" name=
    "viewport">
    <title>
      Log in
    </title><!-- Custom styles  -->
    <link rel="stylesheet" th:href="@{/css/style.css}" type=
    "text/css">
    <link href="logo.png" rel="shortcut icon" type="image/jpg">
    <link href="logo.png" rel="apple-touch-icon" sizes="57x57">
    <!-- Bootstrap CSS -->
    <link href=
    "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    rel="stylesheet">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
    </style>
  </head>
  <body class="text-center">
    <main class="form-signin" style=
    "font-family: Inter, sans-serif;">
      <br>
      <form action="/login" method="post">
        <img alt="Jaguar Logo" class="mb-4" height="120" src=
        "logo.png" width="120">
        <h1 class="h2 mb-3 fw-normal">
          Welcome to <strong>JAGUAR</strong>.
        </h1><!--/*@thymesVar id="error" type=""*/-->
        <p class="error" th:text="${error}"></p>
        <p style="font-family: Inter, sans-serif;">
          This site is for demo purposes only.
        </p>
        <div class="form-floating center">
          <input class="form-control" name="email" placeholder=
          "Email" style="font-family: 'Roboto Mono', monospace;"
          type="email"> <label>Email</label>
        </div>
        <div class="form-floating">
          <input class="form-control" name="password" placeholder=
          "Password" style="font-family: 'Roboto Mono', monospace;"
          type="password"> <label>Password</label>
        </div><br>
        <button class="w-100 btn btn-lg btn-warning" name=
        "login-btn" style="border-radius: 1px" type="submit">Log
        in</button><br>
      </form><br>
      <p>
        Don't have an account? <a href="/sign-up" id=
        "signup-link">Sign up now.</a>
      </p>
    </main>
  </body>
</html>
