<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name=
    "viewport">
    <meta content="" name="description">
    <title>
      User Profile
    </title><!-- Bootstrap CSS -->
    <link href=
    "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    rel="stylesheet">
    <link href="logo.png" rel="shortcut icon" type="image/jpg">
    <link href="logo.png" rel="apple-touch-icon" sizes="57x57">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
      @import url('https://rsms.me/inter/inter.css');
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light"
    style="font-family: Inter, sans-serif;">
      <p>
         
      </p><img alt="" class="d-inline-block align-top" height="50"
      src="logo.png" width="50"> <a class="navbar-brand" href="/"
      style='margin-right: 0.25rem'> Jaguar</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile" id="profile">My
            Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout" id="logout">Log
            Out</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="col-lg-8 mx-auto p-3 py-md-5">
      <main class="form-signin" style=
      "width: 100%; max-width: 330px; padding: 15px; margin: auto; font-family: Inter, sans-serif;">
        <h1 style="font-weight: 300">
          Your Profile
        </h1><br>
        <h3 style="font-weight: 300">
          Name:
        </h3><i><!--/*@thymesVar id="name" type=""*/--></i>
        <h4 style="font-family: Roboto Mono, monospace;" th:text=
        "${name}"></h4><br>
        <h3 style="font-weight: 300">
          Email:
        </h3><i><!--/*@thymesVar id="email" type=""*/--></i>
        <h4 style="font-family: Roboto Mono, monospace;" th:text=
        "${email}"></h4><br>
        <form action="/editprofile">
          <button class="btn w-100 btn-warning" id="edit-profile"
          style="border-radius: 1px">Edit Profile</button>
        </form><br>
        <form action="/deleteaccount">
          <button class="btn w-100 btn-warning" id="del-account"
          style="border-radius: 1px; color: red">Delete
          Account</button>
        </form>
      </main>
    </div>
  </body>
</html>
