<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name=
    "viewport">
    <title>
      Sign up
    </title><!-- Bootstrap CSS -->
    <link href=
    "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    rel="stylesheet"><!-- Custom styles  -->
    <link rel="stylesheet" th:href="@{/css/style.css}" type=
    "text/css">
    <link href="logo.png" rel="shortcut icon" type="image/jpg">
    <link href="logo.png" rel="apple-touch-icon" sizes="57x57">
  </head>
  <body class="text-center">
    <main class="form-signin" style=
    "font-family: Inter, sans-serif;">
      <br>
      <form action="/register" method="post">
        <img alt="" class="mb-4" height="120" src="logo.png" width=
        "120">
        <h1 class="h2 mb-3 fw-normal">
          Sign up for <strong><i>JAGUAR</i></strong>.
        </h1><!--/*@thymesVar id="error" type=""*/-->
        <p class="error" th:text="${error}"></p><br>
        <div class="form-floating center">
          <!-- First Name box -->
          <input class="form-control" name="fname" placeholder=
          "First Name" style=
          "font-family: 'Roboto Mono', monospace;" type="text">
          <label>First Name</label>
        </div><!-- Last Name box -->
        <div class="form-floating">
          <input class="form-control" name="lname" placeholder=
          "Last Name" style="font-family: 'Roboto Mono',monospace;"
          type="text"> <label>Last Name</label>
        </div><br>
        <!-- Email box -->
        <div class="form-floating center">
          <input class="form-control" name="email" placeholder=
          "Email" style="font-family: 'Roboto Mono', monospace;"
          type="email"> <label>Email</label>
        </div><!-- Password box -->
        <div class="form-floating">
          <input class="form-control" name="password" placeholder=
          "Password" style="font-family: 'Roboto Mono', monospace;"
          type="password"> <label>Password</label>
        </div><br>
        <button class="w-100 btn btn-lg btn-warning" id=
        "signup-btn" style="border-radius: 1px" type="submit">Sign
        up</button><br>
      </form><br>
      <p>
        Have an account? <a href="/login">Log in.</a>
      </p>
    </main>
  </body>
</html>
